@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  min-height: 100vh;
}
body{
  position: relative;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  transition: all .3s ease;
}
.wrapper .cart{
  aspect-ratio: 9/12;

  animation: op .3s ease;
}
.home{
  min-height: calc(100vh - 100px);
}

.gradient{
  position: relative;
}

.gradient::after{
  content: "Pokemon Center";
  position: absolute;
  
  font-size: 3.75rem;
  line-height: 1;
  
  top: 0;
  left: 0;
  animation: op 2s ease-in-out infinite alternate;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 77, 77), rgb(249, 203, 40));
}

@keyframes op {
  from{
    opacity: -1;
  }
  to{
    opacity: 1;
  }
}
